.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.header {
  background-color: #562b81;
  height: 80px;
  margin: 0 auto;
  padding: 1.5rem;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid red;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .header {
    max-width: 1440px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
