img {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: #562b81;
  /* height: 80px; */
  margin: 0 auto;
  padding: 1.5rem;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid red;
  line-height: 40.72px;
  /* align-items: center; */
  justify-content: left;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  box-shadow: none;
}

button {
  background-color: #562b81;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  justify-content: right;
  border-radius: 10px;radius


}

.form-actions{
  display: flex;
  justify-content: flex-end;
}

.form-title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40.72px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
